/**
 * [color description]
 * @type {[type]}
 */
// rgba
$base-font-color: #4e5067;
.font-gray-darker {
    color: rgba($base-font-color, 1);
}

.font-gray-dark {
    color: rgba($base-font-color, .85);
}

.font-gray {
    color: rgba($base-font-color, .7);
}

.font-gray-light {
    color: rgba($base-font-color, .55);
}

.font-gray-lighter {
    color: rgba($base-font-color, .4);
}
