$base-font-color: #4e5067;

$color-gray-dark: rgba($base-font-color, 1);
$color-gray: rgba($base-font-color, .75);
$color-gray-light: rgba($base-font-color, .5);

.font-gray-dark {
  color: $color-gray-dark;
}

.font-gray {
  color: $color-gray;
}

.font-gray-light {
  color: $color-gray-light;
}
