// 彩度を％で指定
$base-font-color: #981237;

$color-dark: desaturate($base-font-color, 70%);
$color-normal: desaturate($base-font-color, 50%);
$color-light: desaturate($base-font-color, 20%);

.font-dark {
  color: $color-dark;
}

.font-normal {
  color: $color-normal;
}

.font-light {
  color: $color-light;
}
