// each
$users: (
  hashi: (
    color: #00f
  ),
  tani: (
    color: #f00
  )
);

.user {
  @each $key, $value in $users {
    @at-root #{&}-#{$key} {
      background-color: map-get($value, color);
    }
  }
}

// for
.grid {
  @for $i from 1 through 12 {
    @at-root #{&}-#{$i} {
      width: 100 / 12 * $i + %;
    }
  }
}
